fastapi==0.115.12
uvicorn[standard]==0.34.0
httpx==0.28.1
minio==7.2.15
openai==1.70.0
pandas==2.2.3
pillow==11.1.0
langchain==0.3.22
langchain-community==0.3.20
langchain-core==0.3.49
langchain-openai==0.3.11
langchain-text-splitters==0.3.7
pyodbc==5.2.0